body{
    font-family: 'Roboto', sans-serif;
}
#display-meal{
    grid-gap: 30px 50px;
    /* margin: auto; */
}
#display-meal img{
    /* width: 200px; */
    /* background-size: cover; */
}
#display-details-info img{
    width: 500px;
    height: 200px;
}